body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 1em 1em;
    color: #ae3aa4;
    background: #adfede;
}

section {
    height: 100%;
}

h1{
    font-size: 10vw;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

a{
    text-decoration: none;
    color: #e5f4e3;
}
a:hover{
    color: #FFFFFF;

}
